# Python
__pycache__/
*.pyc
.venv/
venv/

# ML generated models
backend/ml/artifacts/

# Node
node_modules/
frontend/node_modules/

# Vite build
frontend/dist/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db